body {
    background: rgb(138, 164, 168);
    margin-bottom: 50px;
    padding-bottom: 20px;
}

.titlePage {
    position: absolute;
    width: 100%;
    height: 600px;
}

.gradientBear {
    position: relative;
    display: block;
    top: 100px;
    left: 110px;
    width: 750px;
    height: auto;
}


.titleColour {
    color: rgb(240, 247, 241);
}

#Title {
    position: absolute;
    font-family: 'Roboto';
    font-size: 160px;
    top: 0px;
    left: 48%;
}

#Tag {
    z-index: 100;
    position: absolute;
    font-family: 'Roboto Mono';
    font-size: 30px;
    top: 45%;
    left: 54%;
}

#PageTitle {
    position: absolute;
    font-family: 'Courier New';
    top: 38%;
    left: 52%;
    font-size: 70px;
    letter-spacing: 18px;
    color: rgb(235, 218, 162);
    font-weight: 100;
}

#sectionTitleRight{
    transform: translate(290%, 90%);
    font-family: 'Courier New';
    font-size: 40px;
    letter-spacing: 18px;
    color: rgb(235, 218, 162);
    font-weight: 100;
}

navBar {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    align-items: center;
    min-height: 5vh;
    background-color: white;
}

navbar ul {
    margin: 0;
    padding: 0;
}

navBar li {
    list-style-type: none;
    float:left;
}

navBar a {
    display: block;
    padding: 30px;
    color: rgb(25, 29, 31);
    text-decoration: none;
    font-family: 'Roboto Mono';
    letter-spacing: 2px;
    font-weight: 590;
    font-size: 16px;
}
  
navBar a:hover {
    background-color: rgb(235, 218, 162);
    color: black;
}

navBar a.active {
    background-color: rgb(79, 140, 158);
    color: white;
}  


.burger {
    display: none;
}

.burger div{
    width: 18px;
    height: 2px;
    background-color: rgba(10, 9, 9, 0.897);
    margin:3px;
}

#section1 {
    font-family: 'Roboto';
    font-size: 45px;
    /* left: 40%; */
    /* position: absolute;
    top: 800px; */
}

#section1Container {
    position: absolute;
    top: 80%;
    left: 10%;
}

#section2 {
    font-family: 'Roboto Mono';
    font-size: 30px;
    /* left: 40%; */
    /* position: absolute;
    top: 800px; */
}

#text {
    font-family: 'Roboto Mono';
    font-size:15px
}

#hardwareDiagram{
    position: absolute;
    transform: translate(10%, 10%);
}

#computerCase {
    position: absolute;
    height: 370px;
    width: auto;
    transform: translate(-30%, 10%);
    margin-bottom: 50px;
    padding-bottom: 20px;
}

#motherboard {
    position: absolute;
    height: 500px;
    width: auto;
    transform: translate(60%, 10%)
}

#cpu {
    position: absolute;
    height: 220px;
    width: auto;
    transform: translate(40%, 20%);
}

#section2Container {
    position: absolute;
    top: 1300px;
    left: 10%;
    font-family: 'Roboto';
    font-size: 20px;
}

#memory {
    position: absolute;
    height: 220px;
    width: auto;
    transform: translate(40%, 20%);
    margin-bottom: 50px;
    padding-bottom: 20px;
}

@media screen and (max-width:1036px) {
    .navBar {
        width: 85%;
    }
    #Tag {
        position: absolute;
        top:100%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #Title{
        position: absolute;
        top:70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }
    .burger {
        display: block;
    }
    .navBar {
        position: absolute;
        right: 0px;
        height:82vh;
        top: 8vh;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    #Title{
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

