

body {
    background-color: rgb(138, 164, 168);
}

.title {
    font-family: 'Roboto';
    font-size: 40px;
}
.titleColour {
    color: rgb(240, 247, 241);
}

h1 {
    font-size: 5em;
    text-align: center;
    margin: 0;
    padding: 0;
}

h4 {
    font-family: 'Roboto Mono';
    font-size: 0.5em;
    text-align: center;
    margin: 0;
    padding: 0;
}



/* img {
    display: block;
    margin-left: auto;
    margin-right: auto;
} */

/* .topnav {
    background-color: rgb(140, 150, 135);
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: rgb(150, 175, 151);
    color: white;
}  */