

body {
    background-color: rgb(138, 164, 168);
}

.titlePage {
    position: relative;
    width: 100%;
    height: 600px;
}

#gradientBear {
    background: url("finalBear.png") rbg(0,0,0,0);
    position: absolute;
    display: block;
    top: 0;
    left: 0;
}


.titleColour {
    color: rgb(240, 247, 241);
}

h1 {
    z-index: 100;
    position: absolute;
    font-family: 'Roboto';
    font-size: 160px;
    top: 250px;
    left: 50%;
}

h4 {
    z-index: 100;
    position: absolute;
    font-family: 'Roboto Mono';
    font-size: 30px;
    top: 500px;
    left: 50%;
}



/* img {
    display: block;
    margin-left: auto;
    margin-right: auto;
} */

/* .topnav {
    background-color: rgb(140, 150, 135);
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: rgb(150, 175, 151);
    color: white;
}  */