


body {
    background-color: rgb(138, 164, 168);
}

.title {
    font-family: Andale Mono;
    font-size: 80px;
    position: absolute;
    top: 50000px;
}

h1 {
    font-family: Andale Mono;
    font-size: 5em;
    text-align: center;
}
h3 {
    font-family: Andale Mono;
    font-size: 0.5em;
    text-align: center;
}



/* img {
    display: block;
    margin-left: auto;
    margin-right: auto;
} */

/* .topnav {
    background-color: rgb(140, 150, 135);
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: rgb(150, 175, 151);
    color: white;
}  */